<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{website.name}}</title>
    <meta name="description" content="{{website.description}}"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
  </head>
  <body>
    {{ content | safe }}

    {% include "./partials/footer.html" %}
    <script src="/static/js/script.js" defer></script>
  </body>
</html>
