/*---
layout: default
---*/
{% include "./_includes/partials/header.html" %}

<section class="
  container
  mt-12
  mb-4
  mx-auto
  px-4 md:px-12
">
  {% include "./_includes/partials/about-this-project.html" %}
  <h2 class="font-bold mt-8 mb-0 text-4xl text-secondary">Series</h2>
  {% include "./_includes/partials/buttons.html" %}

  <div id="series">
    <div class="flex flex-wrap -mx-1 lg:-mx-4">
      {%- for serie in collections.series -%}
      <div
        data-group="{{serie.status.slug}}"
        data-index="{{loop.index0}}"
        class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3"
      >
        <a
          href="{{serie.wikipedia}}"
          target="_blank"
          rel="noopener"
          title="Open {{serie.title}}'s Wikipedia page"
        >
          <div class="overflow-hidden relative my-4">
            <img
              alt=""
              class="object-cover w-full h-56"
              loading="lazy"
              src="{{serie.card}}"
            />
              <div
                class="ribbon {{serie.status.backgroundColor}} {{serie.status.textColor}}"
              >{{serie.status.title}}
            </div>

            <div class="text-white px-6 py-3 bg-gray-900">
              <span class="font-semibold text-lg">{{serie.title}}</span>
              {% if serie.statusText %}
              <div>{{serie.statusText}}</div>
              {% endif %}
            </div>
          </div>
        </a>
      </div>
      {%- endfor -%}
    </div>
  </div>
</section>
