/*---
  eleventyExcludeFromCollections: true
  permalink: /sitemap.xml
  date: Last Modified
---*/
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/sitemap.xsl"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ website.url }}/</loc>
    <lastmod>{{ page.date.toISOString() }}</lastmod>
  </url>
</urlset>
