<div class="bg-blue-100 py-6">
  <div class="container mx-auto px-6">
    <div class="flex flex-col md:flex-row">
      <div class="md:w-1/2 md:pr-8 lg:pr-16">
        <img
          alt=""
          loading="lazy"
          src="/static/img/undraw_movie_night_fldd.svg"
          class="
              -mt-24 lg:-mt-24
              md:mt-0
              mb-12 md:mb-0
              max-h-56
              mx-auto
              object-center
            ">
      </div>
      <div class="md:w-1/2">
        <h2 class="flex flex-col text-4xl text-secondary font-bold mb-6">About this project</h2>
        <p class="text-lg text-secondary-700">
          We watch a lot, a lot of <span class="font-bold">TV series</span>.
          We've listened to so much series over the past few years that it's hard
          to remember whether or not we're waiting for a new season.
        </p>
        <p class="text-lg text-secondary-700 mt-3">
          So we have decided to build this website to list all the shows we
          listened to so that we could follow them properly.
        </p>
      </div>
    </div>
  </div>
</div>
