<div
  class="bg-gray-200 text-sm text-gray-500 leading-none border-2 border-gray-200 rounded-full inline-flex float-right">
  <button
    aria-disabled="true"
    class="active rounded-full inline-flex items-center transition-colors duration-300 ease-in focus:outline-none hover:text-blue-600 focus:text-blue-600 px-4 py-2"
    id="alphabeticalButton">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <line x1="8" y1="6" x2="21" y2="6"></line>
      <line x1="8" y1="12" x2="21" y2="12"></line>
      <line x1="8" y1="18" x2="21" y2="18"></line>
      <line x1="3" y1="6" x2="3.01" y2="6"></line>
      <line x1="3" y1="12" x2="3.01" y2="12"></line>
      <line x1="3" y1="18" x2="3.01" y2="18"></line>
    </svg>
    <span>Alphabetical order</span>
  </button>
  <button
    class="rounded-full inline-flex items-center transition-colors duration-300 ease-in focus:outline-none hover:text-blue-600 focus:text-blue-600 px-4 py-2"
    id="statusButton">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <rect x="3" y="3" width="7" height="7"></rect>
      <rect x="14" y="3" width="7" height="7"></rect>
      <rect x="14" y="14" width="7" height="7"></rect>
      <rect x="3" y="14" width="7" height="7"></rect>
    </svg>
    <span>Group by status</span>
  </button>
</div>
<div class="clear-both"></div>
