<footer class="text-center w-full py-4 bg-red-600 text-white text-sm">
  © All series images are copyrighted by their respective authors.
  <br/>Made with ❤ by <a href="{{website.authorUrl}}" target="_blank" rel="noopener" class="underline">{{website.author}}</a>
</footer>
